[submodule "hugo-tranquilpeak-theme"]
	path = hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/tranquil-peak-theme"]
	path = themes/tranquil-peak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
